show

<br />
@<%= @entry.author %> (<%= @entry.created_at %>)
<br />

<div id="entry_<%= @entry.id %>">
<%- @slices.each do |word, media| -%>
  <div class="slice">
    <div class="word"><strong><%= word %></strong></div>
    <div class="media_preview"><%= preview_media(media) %></div>
  </div>
<%- end -%>
</div>

<!-- slideshow -->