<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>5slices</title>
    <%= stylesheet_link_tag 'main' %>
  </head>
  <body>
    <%- if signed_in? -%>
      <%= link_to 'Logout', session_url, :method => :delete %></li>
    <%- end -%>
    
    <div id="wrapper">
      <h1>5slices</h1>
      <div id="content">
        
        <%- if signed_in? and not current_page?(new_entry_url) -%>
          <%= link_to 'Post new entry', new_entry_url %>
        <%- end -%>
        
        <hr />
        
        <%= yield %>
      </div>
    </div>
    
    <hr />
    <%= javascript_include_tag 'main' %>
  </body>
</html>