<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>5slices</title>
    <%= stylesheet_link_tag 'main' %>
    
    <script src="http://www.google.com/jsapi"></script>
    <script>
      google.load("jquery", "1.4");
      google.load("jqueryui", "1.8");
      google.setOnLoadCallback(function() {
        // alert('jQuery loaded!'); // DEBUG
      });
    </script>
  </head>
  <body>
    <div id="wrapper">
      <div id="nav">
        <%- if signed_in? -%>
          <%= link_to 'post', new_entry_path %> 
          ( <%= link_to 'read', user_path(session[:screen_name]) %> )
          <%= link_to 'logout', session_path, :method => :delete %>
        <%- end -%>
      </div>
      
      <h1 id="logo">
        <a href="/">5slices</a>
      </h1>
      
      <hr />
      <div id="content">
        <%= yield %>
      </div>
    </div>
    
    <hr />
  </body>
</html>