<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>5slices</title>
    <%= stylesheet_link_tag 'main', 'south-street/jquery-ui-1.8.1.custom' %>
    
    <script src="http://www.google.com/jsapi"></script>
    <script>
      google.load("jquery", "1.4");
      google.load("jqueryui", "1.8");
      google.setOnLoadCallback(function() {
        // alert('jQuery loaded!'); // DEBUG
      });
    </script>
    
    <%= javascript_include_tag 'jquery.divslideshow' %>
  </head>
  <body>
    <div id="wrapper">
      <div id="nav">
        <%- if signed_in? -%>
          <%= link_to 'post', new_entry_path %> 
          ( <%= link_to 'read', user_path(session[:screen_name]) %> )
          <%= link_to 'logout', session_path, :method => :delete %>
        <%- else -%>
          <a href="http://twitter.com/artvankilmer">by @artvankilmer</a>
        <%- end -%>
      </div>
      
      <h1 id="logo">
        <a href="/">5slices</a>
      </h1>
      
      <div id="content">
        <%- if @annotations_enabled -%>
        <%= yield %>
        <%- else -%>
        <div id="no_annotations">
          Sorry, your Twitter account does not have annotations yet (few do).<br />
          You can <strong><a target="_blank" href="http://twitter.com/?status=@Twitter%20can%20you%20please%20enable%20annotations%20for%20my%20account%20so%20I%20can%20use%20@5slices?%20Thanks!">try asking Twitter to let you try them out!</a></strong>
          <br /><br />
          Please come back when Twitter has enabled them for you!
        </div>
        <%- end -%>
        <div style="clear:both"></div>
      </div>
    </div>
  </body>
</html>